:root {
  --bg-colour-1: #ffffff;
  --bg-colour-2: #c4c4c4;
  --primary-colour: #000000;
  --secondary-colour: #F1CF4A;
  --tertiary-colour: #C6823E; 
  --off-white-colour: #DFDFDF;
  --primary-font: 'Rye', cursive;
  --title-font: 'Ultra', serif;
}

body {
  background: var(--bg-colour-1);
}

main {
  margin: 0 auto;
  color: var(--primary-colour);
  font-family: var(--primary-font);
}

h1, h2 {
  color: var(--primary-colour);
  font-family: var(--title-font);
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 12px;
}

input {
  font-size: 18px;
}

button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}