.landing {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    min-height: 100vh;
    place-items: stretch stretch;
}
.landing__info {
    background: var(--white);
    place-self: center center;
    max-width: 80%;
}
.landing__setup {
    background: var(--bg-colour-2);
    display: grid;
    place-items: center center;
}
.setup__user-name {
    box-sizing: border-box;
    width: 100%;
    background: var(--white);
    border: none;
    padding: 16px;
    padding-left: 10vw;
}
.setup__new-session {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
}
.new-session__input {
    text-align: center;
    max-width: 70%;
}
.setup__sessions {
    display: grid;
    grid-template-columns: 27px auto 40px;
    width: 80%;
}
.sessions_list {
    width: 80%;
}

@media only screen and (orientation: landscape) {
    .landing {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
    }
}