.session {
    display: grid;
    place-items: stretch stretch;
    position: relative;
    min-height: 100vh;
    background-color: var(--bg-colour-2);
}
.session__lockout {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1200;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.session__header {
    width: 100%;
    background-color: var(--bg-colour-1);
    display: grid;
    place-items: center center;
    grid-template-columns: 40px auto 40px;
    padding: 0 5vw;
    box-sizing: border-box;
    align-self: start;
}
.session__title {
    font: var(--primary-font);
    font-size: 32px;
}
.session__main {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    width: 100%;
    place-items: center center;
}
.session__players {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-height: calc(90vh - 80px);
    overflow-y: auto;
}
.session__control {
    display: grid;
    place-items: center center;
}
.session__settings {
    display: grid;
    place-items: center center;
}
.settings__button__icon {
    width: 40px;
}
@media only screen and (orientation: landscape) {
    .session__main {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
    }
}