.player {
    box-sizing: border-box;
    display: grid;
    place-items: center center;
    width: 150px;
    max-width: 30vw;
    max-height: 100px;
    font-size: 24px;
    border-radius: 5%;
    margin: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: 5px solid transparent;
    position: relative;
}
.player.dark {
    color: var(--off-white-colour);
}
.player.light {
    color: var(--primary-colour);
}
.player__name {
    width: 100%;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 18px;
}
.player__buzzed-time {
    width: 90%;
    position: absolute;
    top: -10px;
    text-align: right;
}
.player.buzzed.dark {
    border: 2px solid var(--off-white-colour);
}
.player.buzzed.light {
    border: 2px solid var(--primary-colour);
}
.player.winner:before {
    background: none;
    border: 5px dotted var(--win-colour);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -5px;
    left: -5px;
  }