.user-name {
    place-self: center center;
    display: grid;
    place-items: center center;
    grid-template-rows: 1fr 1fr;
    width: 280px;
    min-height: 200px;
    max-width: 80%;
    overflow: visible;
}
.user-name__ribbon {
    width: 122%;
    height: 80%;
    display: grid;
    place-items: center center;
}
.user-name__input {
    height: 40%;
    width: 74%;
    margin-top: -5%;
    font-size: 24px;
}
.user-name__input::placeholder {
    color: var(--tertiary-colour);
}
.user-name__submit {
    font-size: 28px;
    place-self: start center;
}